*{
    padding:0;
    margin:0;
}
#search{
    display:inline;
}
#buttondiv {
    display:inline;
    margin-right:0;
}
#search2{
    display:block;
    margin-left:32%;
    margin-top:7%;
}
#mysearch{
    width:50%;
    height:5%;
}
#mybutton{
    height:5%;
}
#description{
    text-align:center;
    margin-top:50px;
}
h1{
    text-align:center;
    margin-top:13%;
}
#leftimg{
    width:20%;
    height:auto;
    float:left;
}
#rightimg{
    width:20%;
    height:auto;
    float:right;
}
